<?xml version="1.0" encoding="utf-8"?>
<ScriptSettings>
<!--Emailsettings-->
    <EmailFrom>No-Reply-PatchManagement@trivselhus.se</EmailFrom>
    <EmailTo>christian.damberg@cygate.se</EmailTo>
    <EmailToCC>christian.damberg@trivselhus.se</EmailToCC>
    <EmailToError>christian.damberg@cygate.se</EmailToError>
    <EmailToCCError>christian.damberg@trivselhus.se</EmailToCCError>
<!--UpdateGroupName and Site-->
    <Sitecode>ps1:</Sitecode>
    <UpdateGroupName>MS updates Windows Servers</UpdateGroupName>
    <LimitPastTime>-3</LimitPastTime>
</ScriptSettings>